@model ValidationAttrApp.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h3>Delete Account</h3>

<h5>Are you sure you want to delete account of @Model.FirstName?</h5>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecondName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecondName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PassportId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PassportId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Birthdate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Birthdate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConfirmPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConfirmPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EnterenceYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnterenceYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GroupDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GroupDescription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-secondary" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
